$primary: #D62839;
$secondary: #60fbd0;
$success: #00c853;
$info: #1e92e6;
$warning: #f57c00;
$danger: #e53935;
$light: #FBF0EF;
$dark: #161721;
$grey: #90a4ae;
$primary-light: #ff5722;
$primary-dark: #ba000d;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  grey: $grey,
  primary-light: $primary-light,
  primary-dark: $primary-dark,
);

@import "~bootstrap/scss/bootstrap.scss";

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
      .bt#{$infix} { border-top: 1px solid rgba(96,125,139,.25) !important; }
      .bl#{$infix} { border-left: 1px solid rgba(96,125,139,.25) !important; }
    }
}

body {
    font-size: 0.8em;
}

.card {
    border-radius: 0.2em;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: $dark;
    opacity: 0;
}
  
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: $dark;
    opacity: 0;
}
  
.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: $dark;
    opacity: 0;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: $dark;
    opacity: 0;
}

.tooltip-inner {
    background-color: $dark;
    fill-opacity: 1;
    border-radius: 0.2em;
    border-color: $info;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0.12em 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.shadow-none {
    box-shadow: none;
}

.shadow-minimal {
    box-shadow: 0.06em 0.1em 0.3em rgba(0, 0, 0, 0.12);
}

.shadow-light {
    box-shadow: 0.12em 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.shadow-heavy {
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.gradient-primary {
    background: linear-gradient(to right, $primary-dark, $primary-light) padding-box,
        linear-gradient(to right, $primary-dark, $primary-light) border-box;

}

.page-header {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.page-footer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.md-input:focus {
    box-shadow: 0 0 0 1px $secondary;
}

.md-button {
    border-radius: 0.2em;
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
}

.md-input {
    border-radius: 0.2em;
    border: none;
}

.modal .modal-body {
    background-color: $dark;
    border-radius: 0 0 1rem 1rem;
    border: 1px solid rgba(96,125,139,.25);
    border-top-style: none;
}

.modal .modal-header {
    background-color: $dark;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid rgba(96,125,139,.25);
    border-bottom-style: none;
}

.modal-content {
    background-color: transparent;
    border: none;
}